@media (min-width: 1200px) {

    .container-verybig{
        max-width:1560px;
    }
}

#bandeausaison4{
background-image: url(https://media.discordapp.net/attachments/709643068499820545/709653278970871828/combat.jpg);
background-repeat: no-repeat;
}


    h1{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    color: white;
    text-align: left;
    font-size:55px;
    margin-bottom:20px;
}

    .no-gutters {
    padding-top:330px;
    padding-left: 20px;
}

    .col-6 {
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    color: #ebdec2;
    font-size:21px;
    text-align: left;
    margin-bottom:30px;
}

    a {
    display: inline-block;
    color: #ebdec2;
    text-decoration: underline;
    margin-top: 30px;
}

    .annonce{
    background-color: rgba(159, 22, 0, 0.6);
    margin-left: 0px;
     display: inline-block;
    padding:10px 30px;
    border: 1px solid #f7b10a;
    color:#f7b10a;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom:70px;
    text-align: left;
}

     .ensavoir{
    display: inline-block;
    padding:10px 30px;
    border: 1px solid #f7b10a;
    color:#f7b10a;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom:70px;
    text-align: left;
    background: rgba(0,0,0,.4);
    margin-left: 20px;
}

#bandeausaison4 
h2 {
    color: white;
   padding: 10px;
   font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
   font-weight: 700;
   font-size: 1.4rem;
}

#bandeausaison4 h2 b {
    color: #f8b700;
   font-size: 1rem;
   font-family: Open Sans,Arial,Helvetica,sans-serif;
   font-weight:normal;
   display: inline-block;
   padding: 20px;
}
